<h2>Tracking Issue #<b class="roggedissueid"></b></h2>
<form name="rogissuetracking" id="rogissuetracking" action="/post/issuetracking/save" method="post">
	<fieldset>
		<legend>Nuevo tracking<span class="required"> *</span></legend>
		<p id="start_date_area">
			<label for="issue_due_date">Fecha<span class="required"> *</span></label>
			<input id="fecha" name="fecha" size="10" type="date" class="hasDatepicker" placeholder="yyyy-mm-dd" required="">
		</p>
		<p>
			<label for="issue_due_date">Descripción<span class="required"> *</span></label><br>
			<textarea class="wiki-edit" cols="60" id="description" name="description" rows="10" required=""></textarea>
		</p>
		<p>
			<label>Avance %<span class="required"> *</span></label>
			<select id="status" name="status" required="">
				<option value="0">0</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="60">60</option>
				<option value="70">70</option>
				<option value="80">80</option>
				<option value="90">90</option>
				<option value="100">100</option>
			</select>
		</p>
		<input name="authenticity_token" id="rogged_authenticity_token" type="hidden" value="">
		<input type="hidden" name="roggedissueid" id="roggedissueid">
		<input type="hidden" name="xobjid" id="xobjid" value="0">
		<input type="submit" name="btnsubmit" value="Grabar nuevo tracking">
    </fieldset>
</form>
<p>&nbsp;</p>
<fieldset>
	<legend>History Tracking</legend>
	<div class="autoscroll">
		<table class="list issues wtrackingissue">
		  <thead>
		    	<tr>
			        <th>#</th>
			        <th>Detalle</th>
			        <th>Avance %</th>
			        <th>Fecha</th>
			        <th></th>
		    	</tr>
		  	</thead>
		  	<tbody>
				<% @rogissuetracking.each do |itracking| %>
					<tr class="hascontextmenu odd issue tracker-2 status-1 priority-2 priority-default child assigned-to-my-group"  data-id="<%= itracking.id %>">
				  		<td class="id"><%= itracking.id %></td>
				  		<td class="tddescription objdescription"><div class="dtext vmore"><%= itracking.description %></div> <a class="icon icon-show rogged-more" href="">Ver detalle completo</a></td>
				  		<td class="objstatus"><z><%= itracking.status %></z>%</td>
				  		<td  class="objfecha"><%= itracking.fecha %></td>
				  		<td>
				  			<%= link_to 'Eliminar', { :action => 'delete', :id => itracking[:id] }, :method => :post %>
				  			&nbsp;&nbsp;
				  			<a href="#rogissuetracking" class="rowsedit">Editar</a>
				  		</td>
				  	</tr>
				<% end %>
		  	</tbody>
		</table>
	</div>
</fieldset>

<script type="text/javascript">
	xtokenaut=$('meta[name="csrf-token"]').attr("content")
	$('#rogged_authenticity_token').val(xtokenaut)
	var xurl_string = window.location.href;
	var xurl_string = new URL(xurl_string);
	var xissueid = xurl_string.searchParams.get("issueid");
	$('#roggedissueid').val(xissueid)
	$('.roggedissueid').html(xissueid)

	$('.rowsedit').click(function(){
		xobjid=$(this).parent().parent().attr('data-id');
		xobjdescription=$(this).parent().parent().find('.objdescription .dtext');
		xobjstatus=$(this).parent().parent().find('.objstatus z');
		xobjfecha=$(this).parent().parent().find('.objfecha');
		$('#xobjid').val(xobjid);
		$('#description').val($(xobjdescription).html());
		$('#status option[value="'+xobjstatus.html()+'"]').prop('selected',true);
		$('#fecha').val(xobjfecha.html());
		return false;
	});
</script>